.body-bg{background: url(bg.jpg) no-repeat;}
.msg-bubble-user .contact-name{color: #ccc;}
.msg-bubble-user-s .contact-name{color: #ff4949; }
.t, .l-links, .chat-box-l, .price{background: url(bg-d-1.png);}