body {
}
#bigtext{min-width: 1000px;}
.text-width{width:480px;height:300px;}
.v,.vflash{width:100%; height:300px; }
.r{/*margin-left: 485px;*/}
.chat-box-l {margin-left: 573px;}
.QuickMessageInput{width:60px;}
.send-white-div {
    width:66%;
}