body {
}
#bigtext{min-width: 1720px;}
.text-width{width:920px;height:590px;}
.v,.vflash{width:100%; height:590px; }
.r{}
.chat-box-l {margin-left: 1015px;}
.QuickMessageInput{width:150px;}
.send-white-div {
    width:88%;
}